CODROID_HOST=codroid-controller.local
CODROID_WS_PORT=9098
CODROID_ROBOT_PORT=9000
CODROID_ORIGIN=http://codroid-controller.local:9098
CODROID_TOKEN=user:YOUR_USERNAME
CODROID_USERNAME=YOUR_USERNAME
CODROID_USER_PASSWORD=
CODROID_USERCODE=
CODROID_USERWSID=
CODROID_WS_USER_TYPE=wsuser
CODROID_ROBOT_LOGIN_NAME=web
CODROID_ROBOT_PASSWORD=
CODROID_ROBOT_WS_TYPE=wsrobot
CODROID_WEBSOCKET_OPEN_TIMEOUT_S=5.0
CODROID_WEBSOCKET_CLOSE_TIMEOUT_S=2.0
CODROID_WEBSOCKET_PING_INTERVAL_S=20.0
CODROID_WEBSOCKET_PING_TIMEOUT_S=30.0
CODROID_DEFAULT_LANGUAGE=EN
CODROID_DEFAULT_PROJECT=pjmjbepucimi01gv
CODROID_DEFAULT_TASK=tkmjbepuci3lujj8
CODROID_DEFAULT_LABEL=rumjcr6o3flg6kq0
CODROID_DEFAULT_STAT=2
CODROID_DEFAULT_ONLYAPI=0
CODROID_DEFAULT_MODE=1
CODROID_COMMAND_POWER_ON=1
CODROID_COMMAND_POWER_OFF=2
CODROID_COMMAND_MANUAL_MODE=3
CODROID_COMMAND_AUTO_MODE=5
CODROID_COMMAND_MOVE_HOME=104
CODROID_COMMAND_MOVE_SAFE=1001
CODROID_COMMAND_MOVE_CANDLE=1002
CODROID_COMMAND_MOVE_PACKAGE=105
CODROID_COMMAND_MOVE_TARGET_LINEAR=106
CODROID_COMMAND_MOVE_TARGET_OPTIMAL=107
