CODROID_HOST=192.168.101.100
CODROID_WS_PORT=9098
CODROID_ROBOT_PORT=9000
CODROID_ORIGIN=http://192.168.101.100:9098
CODROID_TOKEN=user:admin
CODROID_USERNAME=admin
CODROID_USER_PASSWORD=123456
CODROID_USERCODE=
CODROID_USERWSID=
CODROID_WS_USER_TYPE=wsuser
CODROID_ROBOT_LOGIN_NAME=web
CODROID_ROBOT_PASSWORD=
CODROID_ROBOT_WS_TYPE=wsrobot
CODROID_DEFAULT_LANGUAGE=EN
CODROID_DEFAULT_PROJECT=pjmjbepucimi01gv
CODROID_DEFAULT_TASK=tkmjbepuci3lujj8
CODROID_DEFAULT_LABEL=rumjcr6o3flg6kq0
CODROID_DEFAULT_STAT=2
CODROID_DEFAULT_ONLYAPI=0
CODROID_DEFAULT_MODE=1
CODROID_COMMAND_POWER_ON=3
CODROID_COMMAND_POWER_OFF=5
CODROID_COMMAND_MANUAL_MODE=2
CODROID_COMMAND_AUTO_MODE=1
CODROID_COMMAND_MOVE_HOME=104
CODROID_COMMAND_MOVE_SAFE=1001
CODROID_COMMAND_MOVE_CANDLE=1002
CODROID_COMMAND_MOVE_PACKAGE=105
CODROID_COMMAND_MOVE_TARGET_LINEAR=106
CODROID_COMMAND_MOVE_TARGET_OPTIMAL=107
